body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818181;
}
h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}
.jumbotron {
  background-color: #2b2e4a;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #e84545;
  font-size: 50px;
}
.logo {
  color: #e84545;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right,
.carousel-control.left {
  background-image: none;
  color: #53354a;
}
.carousel-indicators li {
  border-color: #53354a;
}
.carousel-indicators li.active {
  background-color: #53354a;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #53354a;
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}
.panel-footer .btn:hover {
  border: 1px solid #53354a;
  background-color: #fff !important;
  color: #53354a;
}
.panel-heading {
  color: #fff !important;
  background-color: #c24c4c !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #53354a;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #903749;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a,
.navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}
.slideanim {
  visibility: hidden;
}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
  img#hideme {
    display: none;
  }
  div #imagensedit1 {
    width: 100%;
  }
  div #imagensedit2 {
    width: 100%;
  }
  
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

/*About Section*/

.text-editor {
  text-decoration: none;
  font-size: larger;
}

#btdanger {
  background-color: rgb(22, 138, 32);
  border-color: rgb(22, 138, 32);
}

#editcheck {
  margin-left: 34%;
}

#editscreenshot {
  margin-left: 25%;
  margin-top: 7%;
}

/*Wrapper for slides*/
.size-images {
  width: 80%;
}

/* Cointainer Section*/
#imagensedit0 {
  width: 100%;
}

#imagensedit1 {
  width: 32.5%;
}

#imagensedit2 {
  width: 33.4%;
}

/* Pricing*/
#pricing {
  background-color: #2b2e4a;
}

.pricetitle {
  color: #fff;
}

/* Servies */
#services {
  background-color: #2b2e4a;
}
.changecolor {
  color: #fff;
}

.letterup {
  font-size: 20px;
}

/* Footer*/
#editfooter {
  padding: 1%;
  background-color: #903749;
}

/* Loader Spinner*/
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 2s, visibility 2s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 3s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.qreditor{
  width: 16%;
  float: right;
  margin-right: 7%;
  margin-top: 3%;
}


